.container {
  margin: 0 auto;
  width: 1024px;
}

.large_font {
  font-size: 24px;
}

.large_font:hover {
  font-size: 28px;
  background: black;
  color: white;
}

.super_large_font {
  font-size: 40px;
}

td {
  padding: 10px;
  text-align: center;
}

.r_corner {
  border-radius: 300px;
  width: 300px;
  height: 300px;
}

.r_img:hover {
  opacity: 0.5;
  rotate: 2deg;
}

.banner:hover {
  opacity: 0.5;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


